.slider-wrapper{
  --slide-width: 100%;
}
.slider-wrapper > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider__track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider__track>* {
  flex: 0 0 var(--slide-width);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slider__track::-webkit-scrollbar {
  display: none;
}

.slider__buttons [disabled] {
  opacity: 0.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.slider__track img{
  width: 100%;
  height: 650px;
}